
<!-- start home -->
<div class="home">

	<!-- start header -->
	<div class="header-image-right gradient-down-color">
		<div class="full-width">
			<div class="one-half pt10">
				<h1>Peace of Mind for your WordPress Site</h1>
				<h3 class="mb20">Easiest WordPress backup in the world.</h3>
				<div class="faded-to-right"><!--  --></div>
				<div class="icon-to-left"><%= image_tag("icons/wand.png", :size => "64x64") %></div>
				<h4>Automagic Backups</h4>
				<p class="limit">Backups are scheduled to run automatically for you at intervals you choose so you never have to remember to manually make copies yourself.</p>
				<div class="faded-to-right"><!--  --></div>
				<div class="icon-to-left"><%= image_tag("icons/network.png", :size => "64x64") %></div>
				<h4>Complete Solution</h4>
				<p class="limit">We backup your entire site, not just the database. This includes plugins, themes, configuration, user uploaded content - literally everything.</p>
				<div class="faded-to-right"><!--  --></div>
				<div class="action-buttons clearfix">
					<%= link_to "Free Trial", signup_path, :class => "btn-big-action-fixed" %>
					<%= link_to "Learn More", features_path, :class => "btn-big-neutral-fixed" %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="one-half">
				<div class="rel images">
					<%= image_tag("icons/phones.png", :width => 349, :height => 466) %>
					<div class="bubble-one">
						<h2>FREE</h2>
						<h3>for Android</h3>
						<p>ver.2.20</p>
					</div>
					<div class="bubble-two">
						<h2>FREE</h2>
						<h3>for iPhone</h3>
						<p>ver.2.20</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- end header -->

	<!-- start quotes -->
	<div class="gradient-up-darker-with-border">
		<div class="full-width pt30 pb30">
			<div class="one-fourth">
				<h4 class="mb20">Lorem ipsum dolor sit amet maecenas...</h4>
				<%= image_tag("icons/users.png", :width => 126) %>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><%= image_tag("icons/quotes.png") %></div><p>Maece purus libero nas purus libe ssim purlipsum mules ditum ertur ro, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><%= image_tag("icons/quotes.png") %></div><p>Maecenas purus libero, gnissim purus libero in, cursus ut digni cu cursus ut dignirsus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><%= image_tag("icons/quotes.png") %></div><p>Maecenas cursus ut digni cursus ut digni purus libero, purus libero cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim purus libero.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- end quotes -->


	<!-- start features -->
	<div class="features gradient-up-with-border">
		<div class="full-width">
			<div class="two-third">
				<h2>Some Features Connecätiveus</h2>
				<ul class="feature-list mb0">
					<li>
					<a href="#" class="icon"><img src="/images/icons/tools.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Lorem ipsum dolor sit</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel cursus ut dignissim enim ut pur.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
					<li class="last">
					<a href="#" class="icon"><img src="/images/icons/id.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Ut quis mauris at</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel cursus ut dignissim enimut pur.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
					<li>
					<a href="#" class="icon"><img src="/images/icons/key.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Lorem ipsum dolor sit</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut cursus ut dignissim purus libero, adipiscing vel enim.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
					<li class="last">
					<a href="#" class="icon"><img src="/images/icons/recycle.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Ut quis mauris at</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, cursus ut dignissim adipiscing vel enim.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="one-third">
				<h2>Avaliable Lorem Bis</h2>
				<ul class="feature-list mb0">
					<li class="last">
					<h4 class="mb20">Morbi interdum mollis leo id situ suscipit. Aenean risus quam, it volutpat eu tristique vitae.</h4>
					<a href="#" class="btn-superbig-neutral" style="width:230px;"><span><b class="for-iphone"><!--  --></b></span></a>
					<a href="#" class="btn-superbig-neutral" style="width:230px;"><span><b class="for-android"><!--  --></b></span></a>
					<div class="center"><small>FREE, Version 2.02 - 02/02/2010</small></div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<!-- end features -->

	<!-- start testimonials -->
	<div class="white">
		<div class="full-width mb20">
			<div class="mb20 hr"><!--  --></div>
			<div class="one-fourth">
				<h4 class="mb20">Lorem ipsum dolor sit amet maecenas...</h4>
				<img src="/images/icons/users.png" width="126"  alt="" />
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><img src="/images/icons/quotes.png" alt="" /></div><p>Maecenas purus libero leo id situ suscipit, leo id situ suscipit cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><img src="/images/icons/quotes.png" alt="" /></div><p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><img src="/images/icons/quotes.png" alt="" /></div><p>Maecenas purus libero, cursus ut leo id situ suscipit leo id situ suscipit dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<!-- end testimonials -->



</div>
<!-- end home -->
