
<!-- start home -->
<div class="home">

	<!-- start header -->
	<div class="header-image-right gradient-down-color">
		<div class="full-width">
			<div class="one-half pt10">
				<h1>Mobile Lorem ditor Trixum it</h1>
				<h3 class="mb20">Connectivity lorem Facebook Lispum Dor</h3>
				<div class="faded-to-right"><!--  --></div>
				<div class="icon-to-left"><a href="http://www.youtube.com/watch?v=Jek0HCeFGy0"  rel="prettyPhoto"><%= image_tag("icons/wand.png", :size => "64x64") %></a><div class="small-plus"><!--  --></div></div>
				<h4>Connect lorem misum</h4>
				<p class="limit">Lorem ipsum dolor amet, consectetur adipiscing elit. Nunc in fermentum lorem. Curabitur eget orci risus, nec euismod tortor dolor sit amet, consectetur.</p>
				<div class="faded-to-right"><!--  --></div>
				<div class="icon-to-left"><a href="_include/images/misc/pretty.jpg"  rel="prettyPhoto"><%= image_tag("icons/network.png", :size => "64x64") %></a><div class="small-play"><!--  --></div></div>
				<h4>Sores Mitor</h4>
				<p class="limit">Lorem ipsum dolor sit amet, consectetur adipiscing, Nunc in fermentum lorem. Curabitur eget orci risus, nec euismod Curabitur eget orci.</p>
				<div class="faded-to-right"><!--  --></div>
				<div class="action-buttons clearfix">
					<a href="http://themeforest.net/item/apptastik-html/164769?ref=bogdanspn" id="trigger1_up" class="btn-big-action-fixed"><span><%= image_tag("icons/button-arrow.png", :size => "30x30") %> Download App</span></a>
					<a href="http://themeforest.net/item/apptastik-html/164769?ref=bogdanspn" class="btn-big-neutral-fixed"><span>Learn More</span></a>

					<div id="tip1_up" style="display:none;">
						<div class="tip" style="width:240px;">
							<h4>Nunc in fermentum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
							<%= image_tag("icons/download-small.png", :class => "vm", :size => "16x16") %> &nbsp;&nbsp;  for iPhone: <a href="#">Lorem Ipsum v.2.02</a><br/>
							<div class="separator"><!--  --></div>
							<%= image_tag("icons/download-small.png", :class => "vm", :size => "16x16") %> &nbsp;&nbsp;  for Android: <a href="#">Lorem Ipsum v.2.02</a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="one-half">
				<div class="rel images">
					<%= image_tag("icons/phones.png", :width => 349, :height => 466) %>
					<div class="bubble-one">
						<h2>FREE</h2>
						<h3>for Android</h3>
						<p>ver.2.20</p>
					</div>
					<div class="bubble-two">
						<h2>FREE</h2>
						<h3>for iPhone</h3>
						<p>ver.2.20</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- end header -->

	<!-- start quotes -->
	<div class="gradient-up-darker-with-border">
		<div class="full-width pt30 pb30">
			<div class="one-fourth">
				<h4 class="mb20">Lorem ipsum dolor sit amet maecenas...</h4>
				<%= image_tag("icons/users.png", :width => 126) %>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><%= image_tag("icons/quotes.png") %></div><p>Maece purus libero nas purus libe ssim purlipsum mules ditum ertur ro, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><%= image_tag("icons/quotes.png") %></div><p>Maecenas purus libero, gnissim purus libero in, cursus ut digni cu cursus ut dignirsus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><%= image_tag("icons/quotes.png") %></div><p>Maecenas cursus ut digni cursus ut digni purus libero, purus libero cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim purus libero.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- end quotes -->


	<!-- start features -->
	<div class="features gradient-up-with-border">
		<div class="full-width">
			<div class="two-third">
				<h2>Some Features Connecätiveus</h2>
				<ul class="feature-list mb0">
					<li>
					<a href="#" class="icon"><img src="/images/icons/tools.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Lorem ipsum dolor sit</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel cursus ut dignissim enim ut pur.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
					<li class="last">
					<a href="#" class="icon"><img src="/images/icons/id.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Ut quis mauris at</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel cursus ut dignissim enimut pur.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
					<li>
					<a href="#" class="icon"><img src="/images/icons/key.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Lorem ipsum dolor sit</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut cursus ut dignissim purus libero, adipiscing vel enim.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
					<li class="last">
					<a href="#" class="icon"><img src="/images/icons/recycle.png" width="52" height="52" alt="" /></a>
					<div class="text">
						<h4><a href="#">Ut quis mauris at</a></h4>
						<p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, cursus ut dignissim adipiscing vel enim.</p>
						<a href="#" class="text-link">Learn More</a>
					</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="one-third">
				<h2>Avaliable Lorem Bis</h2>
				<ul class="feature-list mb0">
					<li class="last">
					<h4 class="mb20">Morbi interdum mollis leo id situ suscipit. Aenean risus quam, it volutpat eu tristique vitae.</h4>
					<a href="#" class="btn-superbig-neutral" style="width:230px;"><span><b class="for-iphone"><!--  --></b></span></a>
					<a href="#" class="btn-superbig-neutral" style="width:230px;"><span><b class="for-android"><!--  --></b></span></a>
					<div class="center"><small>FREE, Version 2.02 - 02/02/2010</small></div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<!-- end features -->

	<!-- start testimonials -->
	<div class="white">
		<div class="full-width mb20">
			<div class="mb20 hr"><!--  --></div>
			<div class="one-fourth">
				<h4 class="mb20">Lorem ipsum dolor sit amet maecenas...</h4>
				<img src="/images/icons/users.png" width="126"  alt="" />
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><img src="/images/icons/quotes.png" alt="" /></div><p>Maecenas purus libero leo id situ suscipit, leo id situ suscipit cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><img src="/images/icons/quotes.png" alt="" /></div><p>Maecenas purus libero, cursus ut dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="one-fourth">
				<blockquote><div class="icon-to-left"><img src="/images/icons/quotes.png" alt="" /></div><p>Maecenas purus libero, cursus ut leo id situ suscipit leo id situ suscipit dignissim in, cursus ut purus libero, adipiscing vel enim.</p><div class="clear"></div></blockquote>
				<cite>John Doe, Lorem</cite>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<!-- end testimonials -->



</div>
<!-- end home -->
